<html>
    <head>
        <title>Blog Konrada</title>
    </head>
    <body>
        <div>
            <h1><a href='/'>Konrad Django Blog</a></h1>
        </div>

        <div>
            <p>published: 14.02.2021, 12:14</p>
            <h2><a href=''>Mój pierwszy post</a></h2>
            <p>
                Tekst mojego pierwszego wpisu. Nie będę długo pisał, ale fajne jest to, że to działa :)
            </p>
        </div>
            
        <div>
            <p>published: 14.02.2021, 17:14</p>
            <h2><a href=''>Mój drugi post</a></h2>
            <p>Tekst mojego drugiego wpisu. Nadal działa, zobaczymy jak długo xD</p>
        </div>
    </body>
</html>
